mat-card{
  width: 30%;
  margin: 1%;
  float: left;
  overflow: hidden;
  img{
    overflow: hidden;
    text-align: center;
    width: 50%;
    height:100%;
    max-width:100px;
    max-height:100px;
    float:left;
    margin-left: 2%;
  }
  mat-card-content{
    margin-left: 30%;
    font-size: 13px;
    a{
      line-height: 30px;
      vertical-align: text-bottom;
    }
  }
}
